.form {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  margin-bottom: 1rem;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.note {
  margin-top: 1rem;
  color: var(--secondary);
}

@media (max-width: 767px) {
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
